{% extends "xadmin/base_site.html" %}

{% load static %}

{% block content%}
<body>
    <h5>Liste des souscriptions :</h5>
        
    {% regroup liste_des_souscriptions by service.nom as souscriptions_list %}

	<div class="panel-group" id="accordion">
		{% for souscription in souscriptions_list %}
	  	<div class="panel panel-default">
	    	<div class="panel-heading">
	      		<h4 class="panel-title">
	        		<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}">{{ souscription.grouper }} ({{ souscription.list|length }} adhérent(s))</a>
	      		</h4>
	    	</div>
	    	
	    	<div id="collapse{{ forloop.counter }}" class="panel-collapse collapse in">
	      		
	      		<div class="panel-body">
	      		{% for item in souscription.list %}
					<p><b>Nom adhérent : </b> {{ item.porteur }}, <b>Date début souscription : </b> {{ item.date_debut }} </p> 
				{% endfor %}
	      		</div>
	    	</div>
	  	</div>
	  	{% endfor %}
	 </div>
 
</body>
{% endblock content %}