{% extends 'base.html' %}
{% load i18n xadmin_tags %}

{% block title %}Pass Citoyen Multiservices - Connexion{% endblock %}

{% block contenu %}
	<div class="row", align="center">
		<div class="col-sm-4" style="background-color:none;"></div>
		<div class="col-sm-4" style="background-color:whitesmoke;" align='center'>
			<p></p>
    		<form action="login" method="post">
				{{ form.as_p }}
				
				<div>
					<p></p>					
					<input type="submit" value="Se connecter" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="#">Créer un compte</a>					
				</div>
			</form>
			<p></p>
		</div>
		<div class="col-sm-4" style="background-color:none;"></div>
	</div>
	
	
{% endblock contenu %}

