{% load static %}

<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block meta %}{% endblock meta %}
    {% block base_title %}
    <title>{% block title %}Le titre de la page{% endblock title %}</title>
    {% endblock base_title %}

    {# Base Foundation CSS #}
    {% block foundation_css %}
    <link href="{% static "foundation/css/normalize.css" %}" rel="stylesheet"/>
    <link href="{% static "foundation/css/foundation.min.css" %}" rel="stylesheet"/>
    {% endblock foundation_css %}  
    
    {# Custom CSS #}
    {% block css %}{% endblock css %}

    {# Override if you need another version of modernizr #}
    {% block foundation_modernizer %}
    <script src="{% static "foundation/js/vendor/modernizr.js" %}"></script>
    {% endblock foundation_modernizer %}

    {# Custom head JS #}
    {% block head_js %}{% endblock head_js %}
</head>

<body {% block body_attr %}{% endblock body_attr %}>
  <div class="fixed">
    <nav class="top-bar" data-topbar role="navigation">
      <!-- Titre -->
      <ul class="title-area">
	<li class="name">
	  <h1><a href="{% url 'portail:index' %}"><img width="50px" src="{% get_media_prefix %}cmdb/icons/svg/logo.svg"></a></h1>
	</li>
	<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
	<li class="toggle-topbar menu-icon"><a href="{% url 'portail:index' %}"><span>Menu</span></a></li>
      </ul>

      <!-- Partie gauche du menu -->
      <section class="top-bar-section">
	<ul class="right">
	  <li class="has-dropdown"><a href="/login">login</a></li>
	  <!-- Creer -->
	  <li class="has-dropdown"><a href="/xadmin">admin</a></li>

	  
	</ul>
      </section>

    </nav>
  </div>

  <br />

  <div class="row">
    {# Main content goes here #}
    {% block base_body %}{% endblock base_body %}
  </div>

    {# Override if you need another version of jQuery #}
    {% block foundation_jquery %}
    <script src="{% static "foundation/js/vendor/jquery.js" %}"></script>
    {% endblock foundation_jquery %}

    {# Foundation JS #}
    {% block foundation_js %}
    <script src="{% static "foundation/js/foundation.min.js" %}"></script>
    {% endblock foundation_js %}

    {# Custom JS #}
    {% block body_js %}{% endblock body_js %}

    {# Init Foundation #}
    {% block foundation_js_init %}
    <script>
      $(document).foundation();
    </script>
    {% endblock foundation_js_init %}
</body>
</html>
