{% extends 'base.html' %}
{% block title %}Pass Citoyen Multiservices - Accueil{% endblock %}

{% block contenu %}
	<div class="row">
    	<div class="col-sm-4" style="background-color:whitesmoke;" align='center'>
    		<ul> 
            	<h3>Je suis un adhérent...</h3>
            		<li>Consulter mes informations</li>
            </ul>
            <p><a href="/PassCitoyen/login" class="btn btn-primary" role="button">Accès à mon compte >></a></a></p>
               
    	</div>
    	
    	<div class="col-sm-4" style="background-color:none;">
    		<h5 align='center'> < Choisissez votre profil > </h5>
    	</div>
    	
    	<div class="col-sm-4" style="background-color:whitesmoke;" align="center" >
    		<ul> 
            	<h3>Je suis un gestionnaire....</h3>
           		<li>Gestion des services</li>
           		<li>Gestion des adhérents</li>
           		<li>Gestion des cartes</li>
           		<li>Gestion des bornes</li>           		           		
            </ul>
            <p><a href="/PassCitoyen/xadmin" class="btn btn-success" role="button">Accès à l'interface d'administration >></a></p>           		
    	</div>
  	</div>  	
</div>
{% endblock contenu %}