{% extends 'xadmin/base.html' %}
{% load i18n xadmin_tags %}

{% block content %}

<div class="jumbotron" align="center">  		
  		<a href="/PassCitoyen/"><img alt="Pass Citoyen Multiservice" src="/media/LogoPortail.png" height="20%" width="20%"></a>  		
  		<p>Bienvenue sur le portail de consultation et de gestion Pass Citoyens Multiservices.</p>
 </div>   

<div class="container">
  	<div class="row">
  		{% block contenu %}{% endblock contenu %}    	
 	</div>  	

	<div id="footer">
   		<hr/>
   		<footer class="text-center">
       		<p>&copy; {% block site_footer %}Portail Citoyen Multiservices{% endblock %}</p>
   		</footer>
	</div>
{% endblock content %}



